<!DOCTYPE html>
<html lang="pt-br" data-ng-app="meuApp">
<head>
	<meta charset="UTF-8">
	<title>Quantificação</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body data-ng-controller="PrincipalController" data-ng-keydown="tratarTecla($event)">
	
	<div class="row" data-ng-repeat="item in configs">
		<div class="col-xs-12">
			<div class="col-xs-2">
				<label>Evento</label>
				<input type="text" data-ng-model="item.evento"><br>
			</div>

			<div class="col-xs-2">
				<label>Tempo?</label>
				<input type="checkbox" data-ng-model="item.tempo"><br>
			</div>

			<div class="col-xs-2" data-ng-show="item.tempo">
				<label>Tecla de começo</label>
				<input type="text" data-ng-model="item.teclaComeco"><br>
			</div>

			<div class="col-xs-2" data-ng-show="item.tempo">
				<label>Tecla de fim</label>
				<input type="text" data-ng-model="item.teclaFim"><br>
			</div>

			<div class="col-xs-2" data-ng-show="item.tempo">
				Duração: {{item.duracao | number:2}} segundo(s)
			</div>

			<div class="col-xs-2" data-ng-show="item.tempo && item.inicio !== 0">
				<i class="fa fa-spinner fa-spin"></i>
			</div>

			<div class="col-xs-2" data-ng-hide="item.tempo">
				<label>Tecla</label>
				<input type="text" data-ng-model="item.tecla"><br>
			</div>

			<div class="col-xs-2" data-ng-hide="item.tempo">
				Contador: {{item.contador}}
			</div>

			<div class="clearfix"></div>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-primary" data-ng-click="adicionar()">Adicionar novo</button>
		</div>
	</div>

	<script src="js/angular.js"></script>
	<script src="js/index.js"></script>
</body>
</html>