* {
	box-sizing: border-box;
	font-family: 'Arial';
	padding: 0;
	margin: 0;
}

body {
	padding: 20px;
}

h1 {
	color: #4286f4;
	font-size: 24px;
	margin-bottom: 5px;
}

.settings {
	border-bottom: 1px solid #CCCCCC;
}

table {
	border-collapse: collapse;
	margin: 20px 0;
	width: 100%;
}

table tr th {
	padding-bottom: 10px;
	text-align: left;
}

.column__time {
	text-align: center;
	width: 80px;
}

.column__key {
	text-align: center;
	width: 50px;
}

.column__buttons {
	display: flex;
	justify-content: space-between;
	width: 110px;
}

table tr:nth-child(even) td {
	background-color: #EEEEEE;
}

table tr td {
	height: 51px;
	padding: 10px;
	text-align: left;
	vertical-align: bottom;
}

input {
	border: 1px solid #CCCCCC;
	font-family: 'Arial';
	font-size: 16px;
	padding: 5px;
}

input[type="text"] {
	width: 100%;
}

button {
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
}

button:focus {
	outline: none;
}

.button__add {
	background-color: #4286f4;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.button__save {
	background-color: #FFFFFF;
	border: 1px solid #4286f4;
	color: #4286f4;
	margin-bottom: 20px;
	margin-right: 10px;
}

.button__start {
	background-color: #4286f4;
	color: #FFFFFF;
	margin: 20px 10px 20px 0;
}

.button__clear {
	background-color: #FFFFFF;
	color: #AAAAAA;
}

.icon {
	color: #4286f4;
	font-size: 22px;
}